
body {
  background: black;
  color: #666666; 
  overflow: hidden
  }
@media screen and (max-width: 1920px) { 
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 1921px) and (max-width: 3840px) { 
  body {
    font-size: 20px;
  }
}



/*
	company (0,0,145)
	concept #770000 , 0.5
*/
.companynodes{
  fill: blue;
  stroke: white;
  stroke-width: 0.1em;
}

.conceptnodes{
  fill: goldenrod;
  stroke: none;
}

.selectednodes{
  fill: rgb(100,150,250);
  stroke : magenta;
  stroke-width: 0.3em;
}

.links{
  fill: none;
  stroke: goldenrod;
  stroke-width: 0.15em;
}

.nodetext{
	fill : white;
	stroke : white;
	font-size : 1em;
	text-anchor : middle;
	font-family : helvetica;
	text-transform: capitalize;
	font-weight : normal;
  letter-spacing: 0.075em;
  pointer-events: none;
}

.concepttext{
	fill : white;
	stroke : white;
	font-size : 2.5em;
	text-anchor : middle;
	font-family : helvetica;
	text-transform: capitalize;
	font-weight : bold;
  letter-spacing: 0.2em;
  pointer-events: none;
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 20em;					
    padding: 0.5em;				
    font: 1.2em sans-serif;		
    background : black;	
    border: 0.01em solid white;		
    border-radius: 0.5em;			
    pointer-events: none;		
    color: white;	
}